.flex-column-sm {
    @include media-breakpoint-down(sm) {
        display: flex;
        flex-direction: column;
    }
}

.list-title {
    font-size: 22px;
    font-weight: 500;
    margin: 20px 0 10px 0;
}

.m-top-50 {
    margin-top: 50px;
}
