.Card {
    height: 300px;
    width: 200px;
    position: relative;

    &-image {
        height: 230px;
        width: 100%;
    }

    &-title {
        color: $black;
        font-size: 17px;
        height: 30%;
        margin-bottom: 0;
        margin-left: 35px;
        overflow: hidden;
        padding: 10px
    }
}
