.Card {
    height: 300px;
    width: 200px;
    position: relative;

    @include media-breakpoint-down(sm) {
        height: 200px;
        width: 150px;
    }

    &-image {
        height: 230px;
        width: 100%;

        @include media-breakpoint-down(sm) {
            height: 160px;
        }
    }

    &-title {
        color: $black;
        font-size: 17px;
        height: 30%;
        margin-bottom: 0;
        margin-left: 35px;
        overflow: hidden;
        padding: 10px;

        @include media-breakpoint-down(sm) {
            font-size: 13px;
            height: 20%;
        }
    }
}
