.Footer {
    background-color: $mainColor;
    height: 300px;
    width: 100%;

    @include media-breakpoint-down(sm) {
        height: 220px;
    }

    &-column {
        align-items: center;
        justify-content: space-evenly;
    }

    &-logo {
        width: 200px;
    }

    &-link {
        color: $footerLinks;

        @include OnPointerEvent {
            color: $white;
        }
    }
}
