.Header  {
    background-color: $mainColor;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9000;

    &-content {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 1rem;
        z-index: 3;

        @include media-breakpoint-down(md) {
            flex-direction: column;
        }
    }

    &-menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    &-item {
        display: inline-block;
        text-align: center;
    }

    &-link {
        color: $footerLinks;
        font-size: 1.3rem;
        font-weight: 600;
        margin: 0 1rem;

        @include OnPointerEvent {
            color: $white;
            text-decoration: none;
        }
    }
}
