.FeaturedEpisodes {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 25px;

    &-list {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
